div.icon-bar {
 background: transparent;
}

.icon-bar .item:hover {
 background-color: rgba(0, 0, 0, 0.025);
}

.th:hover {
 box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
 border: solid 4px rgba(0, 0, 0, 0.025);
}